$dark-theme-background-color: rgb(20, 20, 20);
$dark-theme-background-color-darker: rgb(16, 16, 16);

$text-color: rgb(136, 135, 135);
$header-text-color: rgb(165, 165, 165);
$link-text-color: $text-color;
:root {
  background-color: $dark-theme-background-color;
  color: $text-color;
  --text-color: #{$text-color}; //expose as css var
}
