$dark-theme-background-color: rgb(20, 20, 20);
$dark-theme-background-color-darker: rgb(16, 16, 16);

$selected-theme-background-color: $dark-theme-background-color;
$selected-theme-background-color-darker: $dark-theme-background-color-darker;

$text-color: rgb(136, 135, 135);
$header-text-color: rgb(165, 165, 165);
$link-text-color: $text-color;
:root {
  background-color: $selected-theme-background-color;
  color: $text-color;
  //expose as css vars
  --text-color: #{$text-color};
  --header-text-color: #{$header-text-color};
  --main-background-color: #{$selected-theme-background-color};
  --main-background-color-darker: #{$selected-theme-background-color-darker};
}
