@use 'colors' as colors;

$control-widget-width-small: 6em;
$control-widget-width-medium: 8em;
$control-widget-width-large: 12em;

$control-widget-height: 2em;

$dialog-width: 25em;
$dialog-height: 25em;

.mButton {
  background-color: colors.$background-color-button;
  color: colors.$text-color-button;
  border-radius: 5px;
  border: solid 2px;
  border-left-color: rgb(98, 98, 98);
  border-top-color: rgb(98, 98, 98);
  border-right-color: black;
  border-bottom-color: black;
  height: $control-widget-height;
  width: $control-widget-width-medium;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.mButton:active {
  border-left-color: black;
  border-top-color: black;
  border-right-color: rgb(98, 98, 98);
  border-bottom-color: rgb(98, 98, 98);
}
.mInput {
  width: $control-widget-width-large;
  height: calc(0.8 * $control-widget-height);
  background-color: var(--inputs-background-color);
  border: 2px solid;
  border-radius: 5px;
  border-left-color: black;
  border-top-color: black;
  border-right-color: rgb(98, 98, 98);
  border-bottom-color: rgb(98, 98, 98);
  padding-left: 0.3em;
  color: var(--header-text-color);
}
//control sizes
.small {
  width: $control-widget-width-small;
}
.medium {
  width: $control-widget-width-medium;
}
.large {
  width: $control-widget-width-large;
}
