@use 'colors' as colors;

.mButton {
  background-color: colors.$background-color-button;
  color: colors.$text-color-button;
  border-radius: 5px;
  border: solid 2px;
  border-left-color: rgb(98, 98, 98);
  border-top-color: rgb(98, 98, 98);
  border-right-color: black;
  border-bottom-color: black;
  height: 2em;
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.mButton:active {
  border-left-color: black;
  border-top-color: black;
  border-right-color: rgb(98, 98, 98);
  border-bottom-color: rgb(98, 98, 98);
}
