@use 'colors';

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  h1,
  h2,
  h3 {
    color: var(--header-text-color);
  }

  .headerNavigation a {
    margin-left: 1em;
  }
  //   using the selector class and pseudo classes
  .headerNavigation a:link {
    color: var(--header-text-color);
    font-weight: bold;
    text-decoration: none;
  }
  .headerNavigation a:visited {
    color: var(--header-text-color);
    font-weight: bold;
  }
  .headerNavigation a:hover {
    color: lightgray;
    font-weight: bold;
  }
  .headerNavigation a:active {
    color: rgb(0, 168, 90);
    font-weight: bold;
  }
  .headerNavigationColumn {
    @extend .headerNavigation;
    display: flex;
    flex-direction: column;
  }
  .headerNavigationColumn a {
    margin-bottom: 1em;
  }
  //   directly on the elements
  #mySpecialLink:link,
  #mySpecialLink:visited {
    color: var(--link-text-color);
  }
  #mySpecialLink:hover,
  #mySpecialLink:active {
    color: rgb(0, 168, 90);
  }
}
